<form class="mt-4" method="POST" action="">
  <div class="mb-3">
    <label for="searchInput" class="form-label">Từ khoá</label>
    <input type="text" name="searchText" class="form-control" id="searchInput" placeholder="Nhập từ khoá...">
  </div>
  <div class="mb-3">
    <label for="genderInput" class="form-label">Chọn giới tính</label>
    <select name="gender" class="form-select" id="genderInput" required>
      <option value="">----Chọn giới tính----</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>