<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/bootstrap-5.0.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div>
        <header>
            {{!-- <h2 style="text-align: center;">Header</h2> --}}
            {{> header}}
        </header>
        <div class="container">
            {{{body}}}
        </div>

        <footer>
            {{!-- <h2 style="text-align: center;">Footer</h2> --}}
            {{> footer}}
        </footer>
    </div>

    <script src="/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
</body>

</html>